$button-padding: 40px 20px;
$background-white: #ffffff;
$color-green: #21b8c6;
$button-max-width: 190px;
$button-max-height: 64px;
$button-border-radius: 3px;
$button-text-color: #a0b0ba;
$button-text-font-size: 14px;
$button-text-font-weight: 700;
$button-text-width: 75px;
$button-box-shadow: 0px 2px 10px #c2cdd8;
$header-left-margin: 20px;
$header-top-margin: 10px;
$title-font-size: 24px;
$font-bold: 700;
$grey-color: #8499a7;
$gallery-page-height: 670px;
$gallery-page-padding: 10px;
